body{
        background: url(../images/%E5%A4%9A%E5%95%A6.jpg) center center ;
}
footer {
    text-align: center;
    padding: 2em 0;
   
}
footer .zzz{
    color: red;
}
h1{
    text-align: center;
    color: black;
}