body{
     background: url(../images/%E8%83%8C%E6%99%AF.jpg) no-repeat center center scroll;
    opacity: 0.8;
    filter: alpha(opacity=80);

    background-size: cover;
}
.tupian{
    text-align: center;
    
}
h1{
    color: #8E388E;
}
footer {
    position: relative;
    text-align: center;
    color: white;
    padding: 1em 0;
    border-top: 1px dashed rgba(255, 255, 255, 0.6);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 5%;
}

.wrap {
    min-height: calc(100vh - 133px);
}

.biography {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 3em;
}

.biography img {
    padding: 0 1em;
    width: 94;
    height: 100px;
}



